@keyframes left_ear {
  from {
    transform: rotate(-35deg);
  }
  to {
    transform: rotate(-45deg) translate(-10px);
  }
}

@keyframes right_ear {
  from {
    transform: rotate(35deg);
  }
  to {
    transform: rotate(45deg) translate(10px);
  }
}

@keyframes cheek {
  from {
    transform: scale(0.9);
  }

  to {
    transform: scale(1);
  }
}

body {
  background-color: #e1bee7;
}

.rabbit {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 80px auto;
}

.rabbit .ears {
  position: absolute;
  top: 14px;
  width: 60px;
  height: 130px;
  background-color: #ffebee;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
}

.ears.left {
  left: 90px;
  transform: rotate(-35deg);
  border-radius: 80% 50% 40% 40%;
  transition: all 200ms ease-in;
  animation: left_ear 3s infinite;
}

.ears.right {
  right: 90px;
  transform: rotate(35deg);
  border-radius: 50% 80% 40% 40%;
  transition: all 200ms ease-in;
  animation: right_ear 3s infinite;
}

.rabbit .line {
  position: absolute;
  top: 60px;
  width: 30px;
  height: 80px;
  background-color: #ffcdd2;
}

.line.left {
  left: 15px;
  border-radius: 80% 50% 40% 40%;
}

.line.right {
  right: 15px;
  border-radius: 50% 80% 40% 40%;
}

.carrot {
  position: absolute;
  width: 40px;
  height: 65px;
  top: -28px;
  left: 50%;
  transform: translate(-50%) rotate(70deg);
  border-radius: 20% 20% 50% 50%;
  background-color: #ff7043;
  animation: carrot 2s infinite;
}

.carrot_line {
  position: absolute;
  width: 4px;
  height: 16px;
  transform: rotate(90deg);
  background-color: rgba(128, 128, 128, 0.418);
}

.carrot_line.top {
  top: 10px;
  right: 6px;
}

.carrot_line.bottom {
  top: 20px;
  right: 6px;
}
.carrot_leaf {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #43a047;
  border-radius: 50%;
}

.carrot_leaf.top {
  top: -16px;
  left: 132px;
}

.carrot_leaf.left {
  top: -18px;
  left: 124px;
}

.carrot_leaf.right {
  top: -9px;
  right: 61px;
}

.rabbit .eyes {
  position: absolute;
  top: 80px;
  width: 20px;
  height: 20px;
  background-color: #000;
  border-radius: 50%;
}

.eyes.left {
  left: 60px;
}

.eyes.right {
  right: 60px;
}

.rabbit .white {
  position: absolute;
  top: 2px;
  width: 6px;
  height: 6px;
  background-color: whitesmoke;
  border-radius: 50%;
}

.white.left {
  left: 3px;
}

.white.right {
  left: 3px;
}

.rabbit .blusher {
  position: absolute;
  top: 115px;
  width: 32px;
  height: 12px;
  background-color: #f48fb1c9;
  border-radius: 50%;
}

.blusher.left {
  left: 10px;
}

.blusher.right {
  right: 10px;
}

.rabbit .cheek {
  position: absolute;
  top: 190px;
  width: 90px;
  height: 80px;
  background-color: #ffebee;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
}

.cheek.left {
  left: 85px;
  animation: cheek 3s infinite;
}

.cheek.right {
  right: 85px;
  animation: cheek 3s infinite;
}

.nose {
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translate(-50%);
  width: 20px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
}

.mouth {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translate(-50%);
  width: 60px;
  height: 30px;
  background-color: rgba(243, 113, 135, 0.952);
  border-radius: 10% 10% 50% 50%;
}

.tooth {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 12px;
  height: 9px;
  border-radius: 0 0 20% 20%;
  background-color: white;
}

.rabbit .face {
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translate(-50%);
  width: 200px;
  height: 190px;
  background-color: #ffebee;
  border-radius: 50% 50% 45% 45%;
}

.rabbit .arms {
  position: absolute;
  top: 2px;
  width: 50px;
  height: 90px;
  background-color: #ffcdd2;
  border-radius: 45% 45% 50% 50%;
}

.arms.left {
  left: 7px;
  transform: rotate(-40deg);
}

.arms.right {
  right: 7px;
  transform: rotate(40deg);
}

.rabbit .legs {
  position: absolute;
  top: 302px;
  width: 50px;
  height: 30px;
  background-color: #ffcdd2;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
}

.legs.left {
  left: 40px;
  border-radius: 50% 30% 30% 30%;
}

.legs.right {
  right: 40px;
  border-radius: 30% 50% 30% 30%;
}

.tail {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #ffcdd2;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
}

.tail.top {
  top: 226px;
  left: 20px;
}

.tail.middle {
  top: 240px;
  left: 11px;
}

.tail.bottom {
  top: 254px;
  left: 21px;
}

.rabbit .body {
  position: absolute;
  top: 170px;
  left: 50%;
  transform: translate(-50%);
  width: 140px;
  height: 140px;
  background-color: #ffebee;
  border-radius: 20% 20% 40% 40%;
}
